@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {

  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans', sans-serif !important;
}

:root {
  --text-orange: hsl(26, 100%, 55%);
  --bg-orange-50: hsl(25, 100%, 94%);
  --text-white-90: hsl(223, 64%, 98%);
  --text-grey-30: hsl(220, 14%, 75%);
  --text-grey-50: hsl(219, 9%, 45%);
  --text-black-90: hsl(220, 13%, 13%);
  --text-black: rgb(0, 0, 0);
  
}

.text-orange {
  color: var(--text-orange);
}

.bg-orange-50 {
  background-color: var(--bg-orange-50);
}

.bg-orange {
  background-color: var(--text-orange)
}

.text-white-90 {
  color: var(--text-white-90);
}

.text-grey-30 {
  color: var(--text-grey-30);
}

.text-grey-50 {
  color: var(--text-grey-50);
}

.text-black-90 {
  color: var(--text-black-90);
}

.navbar-toggler, .navbar-toggler:focus{
  border: transparent!important;
  outline: transparent !important;
  box-shadow : none !important;
}

.navbar-toggler-icon {
  /* background: url('./assets/menu.png') !important; */
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 100% !important;
}

.swiper-pagination-bullet-active {
  background-color: var(--bg-orange-50);
}

.navbar-section {
  height: 10vh;
  background: "transparent";
  

 

}



.herocomponent-main,  .brandImg{
  border: 5px solid var(--text-orange);
}

Figure.Image:hover {
  transform: translate(10px);
 
}

.brands_container {
  background-color:var(--bg-orange-50);
}
